@import '../variables';

.table-container {
  height: 30rem;

  .table {
    width: 100%;

    table-layout: fixed;
    border-collapse: collapse;

    thead {
      background: $table-header-color;
      color: #FFFFFF;

      th {
        text-align: left;
        padding: 0.5rem;

        &:first-child {
          border-top-left-radius: 5px;
          padding-left: 1rem;
        }

        &:last-child {
          border-top-right-radius: 5px;
          padding-right: 1rem;
        }
      }
    }

    tbody {
      tr {
        transform: scale(1);  
      }

      td {
        padding: 0.5rem;
      }
    }
  }
}