@import '../variables';

.table {
  width: 100%;

  table-layout: fixed;
  border-collapse: collapse;
  display: table;

  border-radius: 5px;

  thead {
    background: $table-header-color;
    color: #FFFFFF;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    display: table;
    width: 100%;
    table-layout: fixed;

    th {
      text-align: left;
      padding: 0.5rem;
      font-size: 0.9rem;

      &:first-child {
        padding-left: 1rem;
      }

      &:last-child {
        padding-right: 1rem;
      }
    }
  }

  tbody {
    display: block;
    width: 100%;
    height: 30rem;
    overflow: auto;

    tr {
      transform: scale(1);  
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    td {
      padding: 0.5rem;
    }
  }
}