@import '../variables';

$row-height: 1.5rem;
$visible-rows: 12;

.table {
  width: 100%;

  table-layout: fixed;
  border-collapse: collapse;
  display: table;

  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #AAAAAA;

  thead {
    background: $table-header-color;
    color: #FFFFFF;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    display: table;
    width: 100%;
    table-layout: fixed;

    th {
      text-align: left;
      padding: 1rem 0.5rem;
      font-size: 0.9rem;
      font-weight: normal;
      text-transform: uppercase;

      &:first-child {
        padding-left: 1rem;
      }

      &:last-child {
        padding-right: 1rem;
      }
    }
  }

  tbody {
    display: block;
    width: 100%;
    height: calc(#{$visible-rows} * (#{$row-height} + 1rem));
    overflow: auto;

    tr {
      transform: scale(1);  
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    td {
      padding: 0.5rem;
      height: $row-height;
    }
  }
}

tr:hover td:before {
  content: '';
  display: table-row;
  background: rgba(0, 0, 0, 0.01);
  width: 100%;
  position: absolute;
  height: calc(#{$row-height} + 1rem);
  left: 0;
  top: 0;
}