.tile {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 0.5rem;
  text-align: center;

  width: 33%;

  margin: 1rem;
  
  h2 {
    font-size: 3rem;
  }

  h2, h3 {
    margin: 0;
  }

  &.cases {
    border-color: #1693A5;
    background: rgba(22, 147, 165, 0.1);
    color: #1693A5;
  }

  &.deaths {
    border-color: #F02311;
    background: rgba(240, 35, 17, 0.1);
    color: #F02311;
  }

  &.recovered {
    border-color: #59A80F;
    background: rgba(89, 168, 15, 0.1);
    color: #59A80F;
  }
}