.tile {
  border-radius: 5px;
  padding: 0.5rem;
  text-align: center;

  width: 33%;

  margin: 1rem;
  
  h2 {
    font-size: 3rem;
  }

  h2, h3 {
    margin: 0;
  }

  &.cases {
    background: #1693A5;
    color: #FFFFFF;
  }

  &.deaths {
    background: #F02311;
    color: #FFFFFF;
  }

  &.recovered {
    background: #59A80F;
    color: #FFFFFF;
  }
}